<%= stylesheet_link_tag 'style.css' %>

<div class="show-div">
    <h1><%= @article.name%></h1>
    <p><%= @article.body%></p>
</div>

<%= link_to 'Back to Articles', articles_path, class: "btn-link-to"%>